<div class="wrapper">
    <div class="logo">Recycle.Me</div>
    <div class="content__wrapper">
        <div class="content__text">
            <p class="content__text-paragraph">
                Did you know recycling is a great way to help the negative carbon footprint? That`s why whenever you recycle you should get a little gift. Help nature and get closer to your long-awaited rewards.<br>
                <a class="content__text-paragraph-link" routerLink = '/about_us'>Learn more...</a>
            </p>
            <a class="content__text-btn" routerLink = "/login">Log in</a>
            <p class="content__text-paragraph content__text-paragraph--small">Don`t have an account. <a class="content__text-paragraph--small-link" routerLink = "/register">Join.Us.</a></p>
        </div>
        <div class="content__img">
            <img class="content__img-item" src="../../assets/img/index_img.jpg" alt="index img">
        </div>
    </div>
</div>