.login__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.login {
    display: flex;
    background-color: $color-skin;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    padding: 100px;
    border-radius: 20px;

    &__img {
        position: absolute;
        max-width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__heading {
        font-size: 50px;
        padding: 25px 0 10px 0;
        color: rgb(16, 14, 14)
        // color: rgb(16, 14, 14);
    }

    &__form {
        display: flex;
        flex-direction: column;

        input {
            margin-top: 15px;
            border-radius: 5px;
            padding: 5px;
            width: 300px;
            background-color: $color-skin;
            border: 2px solid $color-middle;
            color: rgb(16, 14, 14);

            &::placeholder {
                color: rgb(16, 14, 14);
            }

        }

        label {
            color: rgb(16, 14, 14);
            margin-top: 15px;
        }

        button {
            padding: 10px 0;
            max-width: 150px;
            background-color: $color-skin;
            border-radius: 5px;
            border: 2.5px solid transparent;
            background-color: rgb(16, 14, 14);
            transition: all 0.3s ease;
            color: white;
            font-size: 17px;
            margin-top: 15px;
            
            &:hover {
                border-color: $color-middle;
                background-color: $color-skin;
                color: rgb(16, 14, 14);
            }
        }
        
        
    }

    &__paragraph {
        padding-top: 20px;
        color: rgb(16, 14, 14);
    }

    &__link {
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            color: rgb(16, 14, 14);
            text-decoration: underline;
        }
    }
}

.required {
    font-size: 14px;
    color: red;
}