<div class="page__wrapper">
    <div class="img__container">
        <img class="img__container-item" src="../../assets/img/about_us.jpg" alt="about image">
    </div>
    <div class="logo"><a class="logo-link" routerLink = "/index">Recycle.Me</a></div>
    <div class="content__wrapper">
        <h1 class="content-heading">About.Us</h1>
        <p class="content-paragraph">Hi! We are Recycle.Me, an app created to encourage recycling by awarding it`s valuable users. Whenever you take your recyclable material to the nearest recycling station with our app you can get point. Later on, you could use those points to buy our sponsors tickets of your choice. So, the more you recycle the more points you get.<br><br>
        Besides that we also organize loads of cheerful environmentally friendly events that you could volunteer on or just came to chill out with other fella environmental activists.
        Among plastic, glass and paper there is one other thing that is being waisted right now. It`s time. So, hurry up… 
        </p>
        <a class="content-btn" routerLink = "/register">Join Us</a>
        <p class="content-paragraph content-paragraph-small">or <a class="content-paragraph-small-link" routerLink = "/login">Log in</a></p>
    </div>
</div>
