<navigation></navigation>

<div class="profile">
    <table class="profile__table">
        <tr class="profile__item">
            <td class="profile__info">Name:</td>
            <td class="profile__real">{{currentUser.first_name}}</td>
        </tr>
        <tr class="profile__item">
            <td class="profile__info">Last name:</td>
            <td class="profile__real">{{currentUser.last_name}}</td>
        </tr>
        <tr class="profile__item">
            <td class="profile__info">Username:</td>
            <td class="profile__real">{{currentUser.username}}</td>
        </tr>
        <tr class="profile__item">
            <td class="profile__info">E-mail</td>
            <td class="profile__real">{{currentUser.email}}</td>
        </tr>
        <tr class="profile__item">
            <td class="profile__info">Role:</td>
            <td class="profile__real">{{currentUser.role}}</td>
        </tr>
        <tr class="profile__item">
            <td class="profile__info">Points:</td>
            <td class="profile__real">{{currentUser.points}}</td>
        </tr>
        
    </table>
</div>
