<navigation></navigation>
<div class="wrapper">
    <div class="form_wrapper">
        <h1>Add points to users</h1>
        <form [formGroup] = "form" class="form">
            <label>
                <span>User e-mail:</span><input type="email" name="email" formControlName="email">
            </label>

            <label>
                <span>Weight of recycled material(g):</span><input type="number" name="weight" formControlName="weight">
            </label>

            <h2>Type of recycled material:</h2>
            
            <div class="radio_btn">

                <label class="radio_btn-item">
                    <input type="radio" value='plastic' formControlName="material_type"><span>Plastic</span>
                </label>

                <label class="radio_btn-item">
                    <input type="radio" value='glass' formControlName="material_type"><span>Glass</span>
                </label>

                <label class="radio_btn-item">
                    <input type="radio" value='paper' formControlName="material_type"><span>Paper</span>
                </label>
            </div>

            <input class="btn" type="submit" value="Submit" (click) = "calculatePoints()">
        </form>
    </div>
</div>
